.header {
  display: flex;
  padding: 35px 100px;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  color: #fff;
}

.header-nav {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  justify-content: space-evenly;
}

.header-nav-text {
  font-size: 1.6vw;
  letter-spacing: 1px;
}

.header-logo {
  width: 115px;
  height: auto;
}
