.what-we-do {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  padding: 0 100px;
  color: var(--primary-theme-color);
  opacity: 0;
  transition: all 0.5s;
}

.what-we-do-visible {
  opacity: 1;
}

.what-we-do-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.what-we-do-img {
  width: 650px;
  height: auto;
}

.what-we-do-text-container {
  display: flex;
  flex-direction: column;

  gap: 40px;
  /* flex: 1.5; */
}

.what-we-do-heading {
  font-size: 6.3vw;
  color: #ffd23f;
  text-transform: uppercase;
}

.what-we-do-text {
  font-size: 1.8vw;
  color: #1b2845;
}

.what-we-do-text-section-1 {
  width: 85%;
}

.what-we-do-text-section-2 {
  display: flex;
}

.what-we-do-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.what-we-do-subheading {
  font-size: 3.1vw;
  color: #1b2845;
}

.what-we-do-subheading span {
  color: #ffd23f;
}
